.game-bg{
  background-image:url(level-2-bg.png);
  background-size:cover;
  background-position: bottom;
  min-height: 100vh;  
}


.sonic-container{
  width: 120px;
  position: absolute;
  left: 50%;
  top: 60%;
  transition: left .3s;
}

.sonic-container img{
width: 100%;
}

.jump{
  animation: jumpAnimation 2000ms forwards;
}

@keyframes jumpAnimation{
  50%{
      top: 30%; 
      transform: scale(0.8,1) rotate(100000000deg);
  }
  100%{
      top: 60%;
      transform: scale(1) rotate(360deg);
  }
}


