


.sonic-container{
    width: 120px;
    position: absolute;
    left: 10%;
    top: 95%;
    
    
  }
  
  .sonic-container img{
    width: 100%;
  }
.img{
  margin-right: 20px;

} 

.sonic-container2{
  width: 120px;
  position: absolute;
  left: 10%;
  top: 95%;
  
  
}

.sonic-container2 img{
  width: 100%;
}
    
