                       

body{
  background-image:url(level-2-bg.png);
  background-size:cover;
  background-position: bottom;
  min-height: 100vh;
}
.sonic-container{
    width: 120px;
    position: absolute;
    left: 50%;
    top: 60%;
    transition: left .3s;
    
    
  }
  
  .sonic-container img{
    width: 100%;
  }

  body{
    background-image:url(level-2-bg.png);
    background-size:cover
    min-height: 100vh;
  }
  
.sonic-container2{
  width: 120px;
  position: absolute;
  left: 50%;
  top: 60%;
  
  
}

.sonic-container2 img{
  width: 100%;
}


<<<<<<< HEAD
=======
body{
  background-image:url(level-3-bg.JPG);
  background-size:cover

  min-height: 100vh;
}
>>>>>>> 0d07630f378f687e767feb548544b6bbfb1fbb35

.sonic-container3{
  width: 150px;
  position: absolute;
  left: 0%;
  top: 72%;
}
  


.sonic-container3 img{
  width: 90%;
} 





















































































































































































































































































































































